---
- name: Cloning repo
  become: true
  git:
    repo: https://github.com/rbsec/sslscan.git
    dest: "{{ sslscan_git_location }}/sslscan"
    update: yes
  register: sslscan

- name: Installing dependencies
  become: true
  when: ansible_os_family ==  "Debian" and sslscan.changed
  apt:
    name: "{{ item }}"
    update_cache: yes
    state: latest

  with_items:
    - build-essential
    - zlib1g-dev

- name: Build dependencies
  when: ansible_os_family ==  "Debian" and sslscan.changed
  become: true
  apt:
    pkg: openssl
    state: build-dep

- name: Building sslscan
  when: sslscan.changed
  become: true
  command: make static
  args:
    chdir: "{{ sslscan_git_location }}/sslscan"

- name: Creating symlink
  when: sslscan.changed
  become: true
  file:
    state: link
    src: "{{ sslscan_git_location }}/sslscan/sslscan"
    path: /usr/bin/sslscan
